name: Release new version to CurseForge
on:
  push:
    branches:
      - main
jobs:
  release:
    if: "contains(github.event.head_commit.message, 'release')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get next version
        uses: reecetech/version-increment@2023.9.3
        id: version_raw
        with:
          scheme: calver
          increment: patch
      - name: Strip pre-release suffix
        id: version
        run: echo "version=$(echo '${{ steps.version_raw.outputs.version }}' | sed 's/-pre\..*//')" >> $GITHUB_OUTPUT
      - name: "Delete CurseForge restricted files"
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
        run: |
          mkdir sArena_Updated2_by_sammers 
          cp -R Ace3 sArena_Updated2_by_sammers/
          cp -R Layouts sArena_Updated2_by_sammers/
          cp Config.lua sArena_Updated2_by_sammers/
          cp Data.lua sArena_Updated2_by_sammers/
          cp LICENSE.txt sArena_Updated2_by_sammers/
          cp sArena_Updated2_by_sammers.toc sArena_Updated2_by_sammers/
          cp sArena.lua sArena_Updated2_by_sammers/
          cp Events.lua sArena_Updated2_by_sammers/
          cp TestMode.lua sArena_Updated2_by_sammers/
          cp Frames.lua sArena_Updated2_by_sammers/
          zip -vr sArena_Updated2_by_sammers-${{ steps.version.outputs.version }}.zip sArena_Updated2_by_sammers/
      - name: "Create Github Release"
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: "Release ${{ steps.version.outputs.version }}"
          tag_name: "${{ steps.version.outputs.version }}"
          body: "Relesing version ${{ steps.version.outputs.version }}"
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: "Upload sArena artifact to release"
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./sArena_Updated2_by_sammers-${{ steps.version.outputs.version }}.zip
          asset_name: sArena_Updated2_by_sammers-${{ steps.version.outputs.version }}.zip
          asset_content_type: application/zip
      - name: "Upload to CurseForge"
        uses: itsmeow/curseforge-upload@v3
        with:
          file_path: "sArena_Updated2_by_sammers-${{ steps.version.outputs.version }}.zip"
          game_endpoint: "wow"
          changelog: "${{ github.event.head_commit.message }}"
          game_versions: "12.0.1"
          project_id: 937129
          token: "${{ secrets.CF_API_TOKEN }}"
